<h1>Task List</h1>

<%= link_to 'New Task', new_task_path, class: 'btn btn-primary' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Due Date</th>
      <th>Completed</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.due_date %></td>
        <td><%= task.completed ? 'Yes' : 'No' %></td>
        <td>
          <%= link_to 'Edit', edit_task_path(task), class: 'btn btn-secondary' %>
          <%= button_to 'Delete', task_path(task), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
